* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100vh;
}

.header {
    background-image: url(./assets/imgs/header-img.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80%;
    width: 100%;
}

.edge-topnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;                  
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;                    
    padding: 1rem 3rem;               
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;                  
  }

.edge-topnav hr {
    margin: 0 10px;
    border: 0.5px solid black
}

.menu-items {
    display: flex;
    align-items: center;
}

.nav-item {
    padding: 5px 10px;
}

.nav-item>a {
    text-decoration: none;
    color: black;
}

.topnav-logo {
    height: 25px;
}

.blue-banner {
    background-color: #018DC2;
}

.action-btn {
    box-shadow: 0 2px 4px rgb(12, 80, 110);
    padding: 9px;
    background-color: #f1c61c;
    border: 1px solid #0c506e;
    color: #0c506e;
    border-radius: 6px;
    text-decoration: none;
}